/* ------------------------------------------------------------------------------------------------------- */
@import "tailwindcss";

/* =========================
   🎨 DSM DESIGN TOKENS
========================= */

:root {

  /* Primary Gradient */
  --primary-start: #EE9C24;
  --primary-mid: #D26D19;
  --primary-end: #B8420E;

  /* Background */
  --bg-page: #FFFFFF;
  --bg-card: #FCFCFC;
  --bg-section: #F3F4F6;

  /* Border */
  --border-light: #e5e7ec;

  /* Text */
  --text-heading: #000000;
  --text-body: #6B7280;
  --text-muted: #9CA3AF;

  /* Radius */
  --radius-card: 16px;

  /* Shadow */
  --shadow-card: 0px 4px 14px rgba(0, 0, 0, 0.06);
}

/* =========================
   BASE
========================= */

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
}

body {
  background: var(--bg-page);
  color: var(--text-body);
  font-family: var(--font-geist-sans);
}

/* =========================
   UTILITIES
========================= */

.bg-primary-gradient {
  background: linear-gradient(90deg,
      var(--primary-start),
      var(--primary-mid),
      var(--primary-end));
}

.card {
  background: var(--bg-card);
  /* border: 1px solid var(--border-light); */
  border: 1px solid var(--border-light);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
}

.bg-section {
  background: var(--bg-section);
}

.text-heading {
  color: var(--text-heading);
}

.text-body {
  color: var(--text-body);
}

.text-muted {
  color: var(--text-muted);
}

.container-main {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 12px;
}

@media (min-width: 640px) {
  .container-main {
    padding-inline: 16px;
  }
}

@media (min-width: 768px) {
  .container-main {
    padding-inline: 24px;
  }
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
